openapi: 3.0.3
info:
  title: BRP Systems API - Hagabadet
  version: 3.0-draft
  description: Unofficial, reverse-engineered draft from the Hagabadet Android app.
    Operations marked with x-reverse-engineering-confidence are approximate.
servers:
  - url: https://hagabadet.brpsystems.com/brponline/api/ver3
security:
  - bearerAuth: []
paths:
  /apps/{id}:
    get:
      operationId: getAppsById
      summary: getAppsById
      tags:
        - apps
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: allowMultipleCompaniesAndBusinessUnits
          in: query
          schema:
            type: boolean
  /bookings/entries/customers/{id}:
    get:
      operationId: getBookingsEntriesCustomersById
      summary: getBookingsEntriesCustomersById
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: startTimePoint
          in: query
          schema:
            type: string
            format: date-time
    delete:
      operationId: deleteBookingsEntriesCustomersById
      summary: deleteBookingsEntriesCustomersById
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /api/ver3:
    get:
      operationId: getApiVer3
      summary: getApiVer3
      tags:
        - api
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: reduxApiUrlResolver
          in: query
          schema:
            type: string
  /oauth/access_token:
    post:
      operationId: getNewTokens
      summary: getNewTokens
      tags:
        - oauth
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                refresh_token:
                  type: string
  /apps:
    get:
      operationId: getAppUrl
      summary: getAppUrl
      tags:
        - apps
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: appCode
          in: query
          schema:
            type: string
  /businessunits:
    get:
      operationId: curatedListBusinessUnits
      summary: List business units
      tags:
        - businessunits
      responses:
        "200":
          description: Observed successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BusinessUnit"
      security: []
      x-reverse-engineering-confidence: medium
      x-reverse-engineering-evidence: Observed in sanitized browser HAR captures,
        the public web-booking client, and a bounded public runtime check; see docs/har-evidence.md,
        docs/web-booking-evidence.md, and docs/public-runtime-evidence.md.
  /messages/{id}:
    get:
      operationId: getMessagesInfo
      summary: getMessagesInfo
      tags:
        - messages
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /businessunits/paymentmethods:
    get:
      operationId: getPaymentMethods
      summary: getPaymentMethods
      tags:
        - businessunits
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /companies:
    get:
      operationId: getCompanies
      summary: getCompanies
      tags:
        - companies
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
  /customers/noshows:
    get:
      operationId: getCustomerNoShows
      summary: getCustomerNoShows
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /customers/subscriptions/{id}:
    get:
      operationId: getCustomerSubscriptionById
      summary: getCustomerSubscriptionById
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/subscriptions/terminate:
    get:
      operationId: getEffectOfTerminatingSubscription
      summary: getEffectOfTerminatingSubscription
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: terminationReason
          in: query
          schema:
            type: string
        - name: terminationReasonComment
          in: query
          schema:
            type: string
    post:
      operationId: postCustomersSubscriptionsTerminate
      summary: postCustomersSubscriptionsTerminate
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                terminationReason:
                  type: string
                terminationReasonComment:
                  type: string
  /customers/subscriptions/terminateundo:
    post:
      operationId: postCustomersSubscriptionsTerminateundo
      summary: postCustomersSubscriptionsTerminateundo
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /customertypes:
    get:
      operationId: getCustomerTypes
      summary: getCustomerTypes
      tags:
        - customertypes
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: company
          in: query
          schema:
            type: string
  /services/personlookup:
    get:
      operationId: lookupCustomer
      summary: lookupCustomer
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: maskOutput
          in: query
          schema:
            type: string
  /services/validate/customers:
    post:
      operationId: validateCustomer
      summary: validateCustomer
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
  /services/validate/customers/{id}:
    put:
      operationId: validateExistingCustomer
      summary: validateExistingCustomer
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers:
    post:
      operationId: createCustomer
      summary: createCustomer
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acceptedRegistrationTerms:
                  type: boolean
                allowMassSendEmail:
                  type: boolean
                allowMassSendMail:
                  type: boolean
                allowMassSendSms:
                  type: boolean
                billingAddress:
                  type: string
                birthDate:
                  type: string
                  format: date-time
                businessUnit:
                  type: string
                consents:
                  type: string
                customerType:
                  type: string
                email:
                  type: string
                firstName:
                  type: string
                haveParentalConsent:
                  type: string
                lastName:
                  type: string
                mobilePhone:
                  type: string
                password:
                  type: string
  /customers/owndefinedparametervalues:
    get:
      operationId: getOwnDefinedParameterValues
      summary: getOwnDefinedParameterValues
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
    post:
      operationId: createANewOwnDefinedParameterValue
      summary: createANewOwnDefinedParameterValue
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parameter:
                  type: string
  /customers/owndefinedparametervalues/{id}:
    put:
      operationId: updateOwnDefinedParameterValue
      summary: updateOwnDefinedParameterValue
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parameter:
                  type: string
  /customers/signaturecases:
    post:
      operationId: createSignatureCaseForSubscription
      summary: createSignatureCaseForSubscription
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscription:
                  type: string
                subscriptionBooking:
                  type: string
    get:
      operationId: getSignatureCasesForCustomer
      summary: getSignatureCasesForCustomer
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /consents/nodirectdebits/customers/{id}:
    post:
      operationId: createNorwegianDirectDebitConsent
      summary: createNorwegianDirectDebitConsent
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
  /consents/sedirectdebits/{id}:
    put:
      operationId: updateExistingSwedishDirectDebitConsent
      summary: updateExistingSwedishDirectDebitConsent
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/invoices:
    get:
      operationId: getCustomerInvoices
      summary: getCustomerInvoices
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: start
          in: query
          schema:
            type: string
            format: date-time
  /customers/receipts:
    get:
      operationId: getCustomerReceipts
      summary: getCustomerReceipts
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: start
          in: query
          schema:
            type: string
            format: date-time
  /customers/valuecards/{id}:
    get:
      operationId: getCustomerSpecificValueCard
      summary: getCustomerSpecificValueCard
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/devices:
    get:
      operationId: getCustomerDevices
      summary: getCustomerDevices
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
    post:
      operationId: addCustomerDevice
      summary: addCustomerDevice
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
  /customers/devices/primary:
    post:
      operationId: setPrimaryDevice
      summary: setPrimaryDevice
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /customeraccounts/customers/{id}:
    get:
      operationId: getCustomerAccount
      summary: getCustomerAccount
      tags:
        - customeraccounts
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/offers/events:
    get:
      operationId: getCustomerEventOffers
      summary: getCustomerEventOffers
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /customers/freeze/subscriptions/{id}:
    get:
      operationId: getEffectOfFreezingSubscription
      summary: getEffectOfFreezingSubscription
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: freezeReason
          in: query
          schema:
            type: string
        - name: freezeReasonComment
          in: query
          schema:
            type: string
        - name: paymentRequiredBeforeFreeze
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
    post:
      operationId: postCustomersFreezeSubscriptionsById
      summary: postCustomersFreezeSubscriptionsById
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                freezePeriod:
                  type: string
                freezeReason:
                  type: string
                freezeReasonComment:
                  type: string
                paymentRequiredBeforeFreeze:
                  type: string
  /customers/freezerequests/subscriptions/{id}:
    post:
      operationId: freezeSubscriptionRequest
      summary: freezeSubscriptionRequest
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                freezePeriod:
                  type: string
                freezeReason:
                  type: string
                message:
                  type: string
  /customers/files/freezerequests/subscriptions/{id}:
    post:
      operationId: addFilesToFreezeRequest
      summary: addFilesToFreezeRequest
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/freezerules/subscriptions/{id}:
    get:
      operationId: getSubscriptionFreezeRules
      summary: getSubscriptionFreezeRules
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/freezes/subscriptions/{id}:
    get:
      operationId: getSubscriptionFreezeList
      summary: getSubscriptionFreezeList
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/subscriptions/unfreeze:
    post:
      operationId: postCustomersSubscriptionsUnfreeze
      summary: postCustomersSubscriptionsUnfreeze
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                unfreezeDay:
                  type: string
  /bookings/groupactivities/bookfamily/customers/{id}:
    get:
      operationId: getBookingDetailsForCustomerFamilyMembers
      summary: getBookingDetailsForCustomerFamilyMembers
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: familyMember
          in: query
          schema:
            type: string
        - name: groupActivity
          in: query
          schema:
            type: string
    post:
      operationId: setBookingDetailsForCustomerFamilyMembers
      summary: setBookingDetailsForCustomerFamilyMembers
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                familyMember:
                  type: string
                groupActivity:
                  type: string
  /customers/profileimages:
    post:
      operationId: postCustomersProfileimages
      summary: postCustomersProfileimages
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acceptedProfilePictureTerms:
                  type: boolean
                append:
                  type: string
                file:
                  type: string
                fileName:
                  type: string
                type:
                  type: string
  /customers/profileimages/{id}:
    delete:
      operationId: deleteProfileImage
      summary: deleteProfileImage
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /customers/useractivities:
    post:
      operationId: sendUserActivity
      summary: sendUserActivity
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                activities:
                  type: string
                timestamp:
                  type: string
                  format: date-time
  /products/events:
    get:
      operationId: getEventProductsOfWebCategory
      summary: getEventProductsOfWebCategory
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /businessunits/events:
    get:
      operationId: getEventsList
      summary: getEventsList
      tags:
        - businessunits
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: webCategory
          in: query
          schema:
            type: string
  /businessunits/events/{id}:
    get:
      operationId: getSpecificEventDetails
      summary: getSpecificEventDetails
      tags:
        - businessunits
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /products/groupactivities:
    get:
      operationId: curatedListGroupActivityProducts
      summary: List group activity products
      tags:
        - products
      parameters:
        - name: webCategory
          in: query
          schema:
            type: integer
            example: 2
      responses:
        "200":
          description: Observed successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GroupActivityProduct"
      security: []
      x-reverse-engineering-confidence: medium
      x-reverse-engineering-evidence: Observed in sanitized browser HAR captures,
        the public web-booking client, and a bounded public runtime check; see docs/har-evidence.md,
        docs/web-booking-evidence.md, and docs/public-runtime-evidence.md.
  /products/services/{id}:
    get:
      operationId: getSingleServiceDetails
      summary: getSingleServiceDetails
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /products/services/resources:
    get:
      operationId: getServiceResources
      summary: getServiceResources
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: onlyMainResourceRequirement
          in: query
          schema:
            type: boolean
  /products/services/suggestions:
    get:
      operationId: getServiceSuggestions
      summary: getServiceSuggestions
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: renderPrice
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
  /products/valuecards:
    get:
      operationId: curatedListValueCardProducts
      summary: List value card products
      tags:
        - products
      responses:
        "200":
          description: Observed successful response
          content:
            application/json:
              schema: {}
      x-reverse-engineering-confidence: medium
      x-reverse-engineering-evidence: Observed across the supplied sanitized authorized
        browser captures; see docs/har-evidence.md.
  /products/events/{id}:
    get:
      operationId: getBookedEventProduct
      summary: getBookedEventProduct
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /products/valuecards/{id}:
    get:
      operationId: getValueCardProductById
      summary: getValueCardProductById
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
  /products/subscriptions:
    get:
      operationId: getSubscriptionProducts
      summary: getSubscriptionProducts
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: customerType
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /additions/products/subscriptions/{id}:
    get:
      operationId: getProductAdditionsForASubscription
      summary: getProductAdditionsForASubscription
      tags:
        - additions
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: customerType
          in: query
          schema:
            type: string
  /products/subscriptions/terminationreasons:
    get:
      operationId: fetchSubscriptionTerminationReasons
      summary: fetchSubscriptionTerminationReasons
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
  /freezereasons/products/subscriptions/{id}:
    get:
      operationId: fetchSubscriptionFreezeReasons
      summary: fetchSubscriptionFreezeReasons
      tags:
        - freezereasons
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: company
          in: query
          schema:
            type: string
  /prices:
    get:
      operationId: getServiceProductPrice
      summary: getServiceProductPrice
      tags:
        - prices
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: quantity
          in: query
          schema:
            type: string
        - name: resources
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
  /products/entries:
    get:
      operationId: getEntryProducts
      summary: getEntryProducts
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /additions:
    get:
      operationId: getEventProductAdditions
      summary: getEventProductAdditions
      tags:
        - additions
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: customerType
          in: query
          schema:
            type: string
  /products/packages:
    get:
      operationId: getPackageProducts
      summary: getPackageProducts
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /products/packages/{id}:
    get:
      operationId: getSpecificPackageProduct
      summary: getSpecificPackageProduct
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
  /products/entries/resources:
    get:
      operationId: getEntryResources
      summary: getEntryResources
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
  /products/entries/{id}:
    get:
      operationId: getSpecificEntryProduct
      summary: getSpecificEntryProduct
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /products/entries/availability:
    get:
      operationId: getEntryProductsAvailability
      summary: getEntryProductsAvailability
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: webCategory
          in: query
          schema:
            type: string
  /products/entries/suggestions:
    get:
      operationId: getEntryProductSuggestions
      summary: getEntryProductSuggestions
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
  /apps/groupactivities:
    get:
      operationId: getGroupActivities
      summary: getGroupActivities
      tags:
        - apps
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: groupActivitiesFor
          in: query
          schema:
            type: string
        - name: product
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /auth/login:
    post:
      operationId: login
      summary: login
      tags:
        - auth
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                username:
                  type: string
  /auth/validate:
    post:
      operationId: curatedValidateAuthentication
      summary: Validate or refresh authentication
      tags:
        - auth
      responses:
        "200":
          description: Observed successful response
          content:
            application/json:
              schema: {}
      x-reverse-engineering-confidence: medium
      x-reverse-engineering-evidence: Observed in sanitized browser HAR captures and
        confirmed in the public web-booking client; see docs/har-evidence.md and docs/web-booking-evidence.md.
  /auth/resetpassword:
    post:
      operationId: forgotPassword
      summary: forgotPassword
      tags:
        - auth
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appId:
                  type: string
                email:
                  type: string
  /consents/sedirectdebits:
    get:
      operationId: fetchDirectDebitSE
      summary: fetchDirectDebitSE
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
    post:
      operationId: addDirectDebitForSE
      summary: addDirectDebitForSE
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountNumber:
                  type: string
                bankAccount:
                  type: string
                clearingNumber:
                  type: string
                company:
                  type: string
  /consents/nodirectdebits:
    post:
      operationId: addDirectDebitForNO
      summary: addDirectDebitForNO
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bankAccount:
                  type: string
  /consents/dkdirectdebits:
    get:
      operationId: getDirectDebitForDKConsentsForCustomer
      summary: getDirectDebitForDKConsentsForCustomer
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
    post:
      operationId: addDirectDebitForDK
      summary: addDirectDebitForDK
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bankAccountNumber:
                  type: string
                bankRegNumber:
                  type: string
                company:
                  type: string
  /consents/fidirectdebits:
    get:
      operationId: getDirectDebitForFIConsentsForCustomer
      summary: getDirectDebitForFIConsentsForCustomer
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
    post:
      operationId: addDirectDebitForFI
      summary: addDirectDebitForFI
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessUnit:
                  type: string
  /orders:
    post:
      operationId: postOrders
      summary: postOrders
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessUnit:
                  type: string
                customer:
                  type: string
                customerType:
                  type: string
                receiverTarget:
                  type: string
    get:
      operationId: getOrderForCustomer
      summary: getOrderForCustomer
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: customer
          in: query
          schema:
            type: string
  /orders/{id}:
    get:
      operationId: getOrdersById
      summary: getOrdersById
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: orderId
          in: query
          schema:
            type: string
    put:
      operationId: putOrdersById
      summary: putOrdersById
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                handleRefreshGroupActivitiesPage:
                  type: string
                orderId:
                  type: string
    delete:
      operationId: deleteOrder
      summary: deleteOrder
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /coupons/orders/{id}:
    post:
      operationId: applyCouponOnOrder
      summary: applyCouponOnOrder
      tags:
        - coupons
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                couponName:
                  type: string
                orderId:
                  type: string
  /orders/valuecardreservations:
    get:
      operationId: getReservationsForOrder
      summary: getReservationsForOrder
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: orderId
          in: query
          schema:
            type: string
    post:
      operationId: reserveValueCardForOrder
      summary: reserveValueCardForOrder
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: string
                valueCardNumber:
                  type: string
  /orders/valuecardreservations/{id}:
    delete:
      operationId: removeReservationForOrder
      summary: removeReservationForOrder
      tags:
        - orders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /items/events:
    post:
      operationId: addEventToOrder
      summary: addEventToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acceptedRegistrationTerms:
                  type: boolean
                event:
                  type: string
                externalMessage:
                  type: string
                haveParentalConsent:
                  type: string
                order:
                  type: string
                participants:
                  type: string
  /items/subscriptions/orders/{id}:
    post:
      operationId: addSubscriptionItemToOrder
      summary: addSubscriptionItemToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                birthDate:
                  type: string
                  format: date-time
                externalMessage:
                  type: string
                order:
                  type: string
                startDate:
                  type: string
                  format: date-time
                subscriptionProduct:
                  type: string
    delete:
      operationId: deleteSubscriptionFromOrder
      summary: deleteSubscriptionFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /items/articles/orders/{id}:
    post:
      operationId: addArticleToOrder
      summary: addArticleToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                articleProduct:
                  type: string
                externalMessage:
                  type: string
                order:
                  type: string
                priceIncVat:
                  type: string
                quantity:
                  type: string
    put:
      operationId: updateArticleItemOnOrder
      summary: updateArticleItemOnOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                articleItemId:
                  type: string
                orderId:
                  type: string
                quantity:
                  type: string
    delete:
      operationId: deleteArticleFromOrder
      summary: deleteArticleFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /products/articles/{id}:
    get:
      operationId: getArticleItemDetails
      summary: getArticleItemDetails
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: articleId
          in: query
          schema:
            type: string
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
  /items/valuecards/orders/{id}:
    post:
      operationId: addValueCardToOrder
      summary: addValueCardToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                externalMessage:
                  type: string
                order:
                  type: string
                receiverDetails:
                  type: string
                senderDetails:
                  type: string
                valueCardProduct:
                  type: string
    delete:
      operationId: deleteValueCardFromOrder
      summary: deleteValueCardFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /items/services/orders/{id}:
    delete:
      operationId: deleteServiceItemFromOrder
      summary: deleteServiceItemFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    post:
      operationId: addServiceItemToOrder
      summary: addServiceItemToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                changeTimeOutsideSchedule:
                  type: string
                externalMessage:
                  type: string
                order:
                  type: string
                quantity:
                  type: string
                resource:
                  type: string
                selectedResources:
                  type: string
                serviceProduct:
                  type: string
                start:
                  type: string
                  format: date-time
  /items/events/orders/{id}:
    delete:
      operationId: deleteEventItemFromOrder
      summary: deleteEventItemFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    post:
      operationId: addEventItemToOrder
      summary: addEventItemToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acceptedRegistrationTerms:
                  type: boolean
                event:
                  type: string
                externalMessage:
                  type: string
                haveParentalConsent:
                  type: string
                order:
                  type: string
                participants:
                  type: string
    put:
      operationId: updateEventItemOnOrder
      summary: updateEventItemOnOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                acceptedRegistrationTerms:
                  type: boolean
                eventId:
                  type: string
                haveParentalConsent:
                  type: string
                orderId:
                  type: string
                participants:
                  type: string
  /items/groupactivities/orders/{id}:
    delete:
      operationId: deleteItemsGroupactivitiesOrdersById
      summary: deleteItemsGroupactivitiesOrdersById
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /items/entries/orders/{id}:
    post:
      operationId: addEntryToOrder
      summary: addEntryToOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entryProduct:
                  type: string
                externalMessage:
                  type: string
                order:
                  type: string
                period:
                  type: string
                quantity:
                  type: string
                resource:
                  type: string
  /items/groupactivities:
    post:
      operationId: postItemsGroupactivities
      summary: postItemsGroupactivities
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groupActivityItem:
                  type: string
                handleRefreshGroupActivitiesPage:
                  type: string
                order:
                  type: string
  /items/events/participants/orders/{id}:
    post:
      operationId: addEventsParticipantsForOrder
      summary: addEventsParticipantsForOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                minimumAge:
                  type: string
                orderId:
                  type: string
                participants:
                  type: string
  /items/entries:
    post:
      operationId: addEntryItem
      summary: addEntryItem
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cardNumber:
                  type: string
                createOneBookingPerEntry:
                  type: string
                entryProduct:
                  type: string
                externalMessage:
                  type: string
                order:
                  type: string
                period:
                  type: string
                quantity:
                  type: string
                resource:
                  type: string
  /items/packages:
    post:
      operationId: addPackageItem
      summary: addPackageItem
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                externalMessage:
                  type: string
                order:
                  type: string
                packageProduct:
                  type: string
                period:
                  type: string
                productToResource:
                  type: string
                quantity:
                  type: string
  /items/entries/{id}:
    delete:
      operationId: removeEntryFromOrder
      summary: removeEntryFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /items/packages/{id}:
    delete:
      operationId: removePackageFromOrder
      summary: removePackageFromOrder
      tags:
        - items
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /receipts/{id}:
    get:
      operationId: getReceipt
      summary: getReceipt
      tags:
        - receipts
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /services/generatelink/payment:
    post:
      operationId: generatePaymentLinkForOrder
      summary: generatePaymentLinkForOrder
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  type: string
                payerAlias:
                  type: string
                paymentMethod:
                  type: string
                receiptEmail:
                  type: string
                returnUrl:
                  type: string
  /services/generatelink/confirmorder:
    post:
      operationId: generateLinkToConfirmOrder
      summary: generateLinkToConfirmOrder
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  type: string
                returnUrl:
                  type: string
  /services/generate/paymentcertificate:
    post:
      operationId: generateAPaymentCertificate
      summary: generateAPaymentCertificate
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                period:
                  type: string
                subscription:
                  type: string
  /products/services:
    get:
      operationId: getProductsOfServiceWebCategory
      summary: getProductsOfServiceWebCategory
      tags:
        - products
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: webCategory
          in: query
          schema:
            type: string
  /services/validate/ssn:
    put:
      operationId: validateSSN
      summary: validateSSN
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessUnit:
                  type: string
  /services/generatelink/registerdirectdebitconsentno:
    post:
      operationId: generateNorwegianDirectDebitRegistrationLink
      summary: generateNorwegianDirectDebitRegistrationLink
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                customer:
                  type: string
                returnUrl:
                  type: string
  /services/generatelink/registercardconsent:
    post:
      operationId: generateCardConsentLink
      summary: generateCardConsentLink
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessUnit:
                  type: string
                customer:
                  type: string
                returnUrl:
                  type: string
  /bookingcancellationtypes:
    get:
      operationId: getBookingCancellationTypes
      summary: getBookingCancellationTypes
      tags:
        - bookingcancellationtypes
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
  /services/generate/invoicereport:
    post:
      operationId: postServicesGenerateInvoicereport
      summary: postServicesGenerateInvoicereport
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blob:
                  type: string
                customer:
                  type: string
                invoice:
                  type: string
                responseType:
                  type: string
  /services/generatelink/payforcustomeraccount:
    post:
      operationId: generatePayForCustomerAccountLink
      summary: generatePayForCustomerAccountLink
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                payerAlias:
                  type: string
                paymentMethod:
                  type: string
                receiptEmail:
                  type: string
                returnUrl:
                  type: string
  /services/generatelink/exorlive:
    post:
      operationId: generateExorliveApplicationLink
      summary: generateExorliveApplicationLink
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
  /services/generatelink/vippslogin:
    post:
      operationId: generateVippsLoginLink
      summary: generateVippsLoginLink
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessUnit:
                  type: string
  /services/personlookupwithvipps:
    get:
      operationId: lookupWithVipps
      summary: lookupWithVipps
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: businessUnit
          in: query
          schema:
            type: string
        - name: code
          in: query
          schema:
            type: string
  /services/countries:
    get:
      operationId: getCountries
      summary: getCountries
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
  /webcategories:
    get:
      operationId: getWebcategories
      summary: getWebcategories
      tags:
        - webcategories
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: allowMultipleCompaniesAndBusinessUnits
          in: query
          schema:
            type: boolean
  /webcategories/{id}:
    get:
      operationId: getWebcategoriesById
      summary: getWebcategoriesById
      tags:
        - webcategories
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: allowMultipleCompaniesAndBusinessUnits
          in: query
          schema:
            type: boolean
  /resources/webcategories/{id}:
    get:
      operationId: getResourcesWebcategoriesById
      summary: getResourcesWebcategoriesById
      tags:
        - resources
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /consents/{id}:
    get:
      operationId: getConsentDetails
      summary: getConsentDetails
      tags:
        - consents
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /owndefinedparameters:
    get:
      operationId: getOwnDefinedParameters
      summary: getOwnDefinedParameters
      tags:
        - owndefinedparameters
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
  /passagereaders:
    get:
      operationId: getPassageReaders
      summary: getPassageReaders
      tags:
        - passagereaders
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      security: []
      parameters:
        - name: major
          in: query
          schema:
            type: string
        - name: minor
          in: query
          schema:
            type: string
  /customers/passagetries:
    post:
      operationId: unlockPassageEntry
      summary: unlockPassageEntry
      tags:
        - customers
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cardReader:
                  type: string
                passageToken:
                  type: string
                printTicket:
                  type: boolean
  /services/auth/loyaltyuser:
    post:
      operationId: authenticateLoyaltyUser
      summary: authenticateLoyaltyUser
      tags:
        - services
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: string
                loyaltyProgram:
                  type: string
  /bookings/employees/substituterequests:
    post:
      operationId: createSubstituteRequest
      summary: createSubstituteRequest
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                resources:
                  type: string
  /employees/{id}:
    get:
      operationId: getEmployee
      summary: getEmployee
      tags:
        - employees
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /bookings/groupactivities/employees/{id}:
    get:
      operationId: getEmployeeGroupActivitiesList
      summary: getEmployeeGroupActivitiesList
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
  /bookings/services/employees/listcancellationfines:
    get:
      operationId: getEmployeeBookingServiceCancellationPolicies
      summary: getEmployeeBookingServiceCancellationPolicies
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: employee
          in: query
          schema:
            type: string
        - name: service
          in: query
          schema:
            type: string
  /bookings/services/employees/{id}:
    get:
      operationId: getEmployeeServiceBookings
      summary: getEmployeeServiceBookings
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: employee
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
        - name: onlyUnhandled
          in: query
          schema:
            type: boolean
  /bookings/groupactivities/employees/participantsstatus:
    get:
      operationId: getGroupActivityParticipantsList
      summary: getGroupActivityParticipantsList
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: employee
          in: query
          schema:
            type: string
        - name: groupActivity
          in: query
          schema:
            type: string
  /availableinstructors/bookings/employees/{id}:
    get:
      operationId: getAvailableInstructors
      summary: getAvailableInstructors
      tags:
        - availableinstructors
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: employee
          in: query
          schema:
            type: string
        - name: groupActivity
          in: query
          schema:
            type: string
  /bookings/groupactivities/employees/markasarrived/participants/{id}:
    put:
      operationId: putGroupActivityParticipantStatus
      summary: putGroupActivityParticipantStatus
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                employee:
                  type: string
                groupActivity:
                  type: string
                hasArrived:
                  type: boolean
                participant:
                  type: string
  /bookings/employees/substituterequests/{id}:
    delete:
      operationId: deleteGroupActivitySubstituteRequest
      summary: deleteGroupActivitySubstituteRequest
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /bookings/services/checkcancel/employees/{id}:
    put:
      operationId: putEmployeeBookingServiceCanCancel
      summary: putEmployeeBookingServiceCanCancel
      tags:
        - bookings
      responses:
        "200":
          description: Successful response; payload shape not yet determined
          content:
            application/json:
              schema: {}
        default:
          description: Unexpected error
      x-reverse-engineering-confidence: low
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                employee:
                  type: string
                service:
                  type: string
  /bookings/services/cancel/employees/{id}:
    put:
      operationId: putEmployeeBookingServiceCancelTime
[...]
